* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  line-height: 1.8;
}
header {
  background-image: url(https://gridbyexample.com/img/inflicted.png);
  height: 250px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  & .title {
    padding: 10px 50px;
  }
  & a {
    color: black;
    font-weight: bold;
  }
  li {
    padding: 15px 50px;
  }
  & li:hover {
    background-color: #ffffffca;
    transition: 1000ms;
  }
  & .menu {
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffffb5;
    gap: 10px;
  }
}

.grid-container {
  margin: auto;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(6, 229px);
  gap: 25px;
}
.css-grid,
.example,
.grid-bug,
.grid-container,
.grid-layout,
.layout-news,
.news,
.pattern,
.question,
.start-guid,
.resource,
.tutorial {
  border-radius: 5px;

  display: grid;
  padding: 15px;
}

.grid-layout {
  grid-column: 1;
  grid-column: 1 / span 3;
  /* background-color: black; */
  color: white;

  background-image: url(https://gridbyexample.com/img/inflicted.png);
}
.tutorial {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.start-guid {
  grid-row: 2;
  grid-column: 1 / span 4;
  background-color: #5e35b1;
  color: white;
}
.example {
  grid-row: 3;
  grid-column: 1 / span 2;
  position: relative;
  background-image: url(https://gridbyexample.com/img/tiny_grid.png);
}
.alerts-new {
  position: absolute;
  background-color: green;
  width: 55px;
  text-align: center;
  /* height: 20px; */
  color: white;
  top: -10px;
  left: -20px;
  transform: rotate(-11deg);
}
.pattern {
  grid-row: 3;
  grid-column: 3 / span 2;
  background-image: url(https://gridbyexample.com/img/tiny_grid.png);
}
.layout-news {
  background-color: rgb(196, 255, 2);
  background-image: url(https://gridbyexample.com/img/tiny_grid.png);
}
.resource {
  grid-row: 4;
  grid-column: 1 / span 3;
  background-color: green;
  background-image: url(https://gridbyexample.com/img/tiny_grid.png);
}

.question {
  grid-row: 5;
  grid-column: 1 / span 2;
  background-image: url(https://gridbyexample.com/img/tiny_grid.png);
}
.css-grid,
.news {
  background-image: url(https://gridbyexample.com/img/tiny_grid.png);
}
.grid-bug {
  grid-row: 6;
  grid-column: 1 / span 4;
  background-image: url(https://gridbyexample.com/img/tiny_grid.png);
}

/* responsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  main {
    padding: 20px;
  }
  header {
    height: auto;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .grid-container {
    /* background-color: aquamarine; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(11, auto);
  }

  .css-grid,
  .example,
  .grid-bug,
  .grid-container,
  .grid-layout,
  .layout-news,
  .news,
  .pattern,
  .question,
  .start-guid,
  .resource,
  .tutorial {
    border-radius: 5px;
    display: grid;
    padding: 10px;
  }
  .grid-layout {
    grid-row: 1;
    grid-column: 1 / span 1;
    /* background-color: black; */
    color: white;
  }
  .tutorial {
    grid-row: 2;
    grid-column: 1 / span 1;
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  .start-guid {
    grid-row: 3;
    grid-column: 1 / span 1;
    background-color: #5e35b1;
    color: white;
  }
  .example {
    grid-row: 4;
    grid-column: 1 / span 1;
  }

  .pattern {
    grid-row: 5;
    grid-column: 1 / span 1;
  }

  .resource {
    grid-row: 6;
    grid-column: 1 / span 1;
    background-color: green;
  }
  .layout-news {
    grid-row: 7;
    background-color: rgb(196, 255, 2);
  }
  .question {
    grid-row: 8;
    grid-column: 1 / span 1;
  }

  .css-grid,
  .news {
    grid-row: 9;
  }
  .news {
    grid-row: 10;
  }
  .grid-bug {
    grid-row: 11;
    grid-column: 1 / span 1;
  }
}

@media only screen and (min-width: 600px) {
  main {
    padding: 20px;
    margin: 0 90px;
  }
  .grid-container {
    /* background-color: aquamarine; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(11, auto);
  }

  .css-grid,
  .example,
  .grid-bug,
  .grid-container,
  .grid-layout,
  .layout-news,
  .news,
  .pattern,
  .question,
  .start-guid,
  .resource,
  .tutorial {
    border-radius: 5px;
    display: grid;
    padding: 10px;
  }
  .grid-layout {
    grid-row: 1;
    grid-column: 1 / span 4;
    /* background-color: black; */
    color: white;
  }
  .tutorial {
    grid-row: 1;
    grid-column: 5 / span 2;
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  .start-guid {
    grid-row: 2;
    grid-column: 1 / span 6;
    background-color: #5e35b1;
    color: white;
  }
  .example {
    grid-row: 3;
    grid-column: 1 / span 3;
  }

  .pattern {
    grid-row: 3;
    grid-column: 4 / span 3;
  }

  .resource {
    grid-row: 4;
    grid-column: 1 / span 4;
    background-color: green;
  }
  .layout-news {
    grid-row: 4;
    grid-column: 5 / span 2;
    background-color: rgb(196, 255, 2);
  }
  .question {
    grid-row: 5;
    grid-column: 1 / span 3;
  }
  .css-grid {
    grid-row: 5;
    grid-column: 4 / span 2;
  }
  .news {
    grid-row: 5;
    grid-column: 6 / span 1;
  }
  .grid-bug {
    grid-row: 6;
    grid-column: 1 / span 6;
  }
}
